body {
    width: 100%;
    height: 100%;
    position: absolute;
    direction: rtl;
    overflow: scroll;
}

@font-face {
    font-family: horev;
    src: url("assets/horev/horevclm-heavy-webfont.ttf");
}

@font-face {
    font-family: varela;
    src: url("assets/Varela_Round/VarelaRound-Regular.ttf");
}

* {
    background-size: 100% 100%;
    margin: 0;
    overflow: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg {
    background-image: url(assets/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#logoGapa {
    width: 30vw;
    height: 20vh;
    position: absolute;
    top: -6vh;
    left: -3vh;
    z-index: 1;
}

#logoBhd {
    width: 15vw;
    height: 10vh;
    position: absolute;
    top: 3.5vh;
    right: 2.5vh;
    z-index: 1;
}

#titleTaleb {
    width: 90vw;
    top: 34vh;
    right: 5vw;
    text-align: center;
    color: #000000;
    font-size: 30vw;
    font-family: horev;
    position: absolute;
}

#titleBhd {
    width: 90vw;
    top: 50vh;
    right: 5vw;
    text-align: center;
    color: #000000;
    font-size: 18vw;
    font-family: horev;
    position: absolute;
}

#nextBtn {
    width: 14vw;
    height: 8vh;
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    z-index: 1;
}

#backBtn {
    width: 14vw;
    height: 8vh;
    position: absolute;
    bottom: 3vh;
    right: 5vw;
    z-index: 1;
}

#titleExp{
    width: 40vw;
    top: 13vh;
    right: 31vw;
    text-align: center;
    color: #000000;
    font-size: 15vw;
    font-family: horev;
    position: absolute;
}

#explainTaleb {
    height: 40vh;
}

#explain {
    top: 21vh;
    right: 3vw;
    left: 3vw;
    text-align: center;
    color: #000000;
    font-size: 4.6vw;
    position: absolute;
    line-height: 2.6vh;
}

#titleInst{
    width: 40vw;
    top: 16vh;
    right: 31vw;
    text-align: center;
    color: #000000;
    font-size: 15vw;
    font-family: horev;
    position: absolute;
}

#exp1 {
    position: absolute;
    top: 29vh;
    right: 17vw;
    left: 2vw;
    font-size: 2.4vh;
    z-index: 1;
}

#point1 {
    width: 35vw;
    height: 24vh;
    position: absolute;
    top: 16vh;
    right: -1vh;
    z-index: 1;
}

#point2 {
    width: 35vw;
    height: 24vh;
    position: absolute;
    top: 32vh;
    right: -1vh;
    z-index: 1;
}

#exp2 {
    position: absolute;
    top: 45vh;
    right: 17vw;
    left: 2vw;
    font-size: 2.4vh;
    z-index: 1;
}

#point3 {
    width: 35vw;
    height: 24vh;
    position: absolute;
    top: 44vh;
    right: -1vh;
    z-index: 1;
}

#exp3 {
    position: absolute;
    top: 57vh;
    right: 17vw;
    left: 2vw;
    font-size: 2.4vh;
    z-index: 1;
}

#point4 {
    width: 35vw;
    height: 24vh;
    position: absolute;
    top: 60vh;
    right: -1vh;
    z-index: 1;
}

#exp4 {
    position: absolute;
    top: 73vh;
    right: 17vw;
    left: 2vw;
    font-size: 2.4vh;
    z-index: 1;
}

#iconChap {
    width: 45vw;
    height: 18vh;
}

#learningTaleb {
    display: none;
}

#chap1 {
    width: 28vw;
    height: 19vh;
    position: absolute;
    top: 23vh;
    right: 21vh;
    z-index: 1;
} 

#chap2 {
    width: 31vw;
    height: 18vh;
    position: absolute;
    top: 39vh;
    right: 4vh;
    z-index: 1;
}

#chap3 {
    width: 27vw;
    height: 18vh;
    position: absolute;
    top: 61vh;
    right: 11vh;
    z-index: 1;
}

#chap4 {
    width: 23vw;
    height: 18vh;
    position: absolute;
    top: 61vh;
    right: 34vh;
    z-index: 1;
}

#chap5 {
    width: 31vw;
    height: 18vh;
    position: absolute;
    top: 39vh;
    right: 38vh;
    z-index: 1;
}

#backLearning {
    height: 78vh;
    width: 88vw;
    position: absolute;
    background-color: #e1eeef;
    border: 0.5vh #9dbebf solid;
    z-index: 1;
    right: 6vw;
    top: 17vh;
    border-radius: 10vw;
}

#boxContainer {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 87vw;
    flex-wrap: wrap;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10 {
    height: 6vh;
    width: 28vw;
    position: relative;
    background-color: #73bdc7;
    z-index: 2;
    right: 6vw;
    top: 5vh;
    border-radius: 2vw;
    margin: 2vh;
    text-align: center;
}

#nohalTitle {
    transform: translateY(50%);
}

#iconHome {
    height: 5vh;
    width: 9vw;
    position: relative;
    top: 71vh;
    right: 6vw;
}


.smallFont {
    font-size: 2.1vh;
} 

.smallFont2 {
    font-size: 2.05vh;
} 

#titlePage {
    color: black;
    font-size: 4vh;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 2vh;
}

#contentSubject {
    height: 78vh;
    width: 88vw;
    position: absolute;
    background-color: #e1eeef;
    border: 0.5vh #9dbebf solid;
    z-index: 1;
    right: 6vw;
    top: 17vh;
    border-radius: 10vw;
}

#titleContent {
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 3vh;
    top: 2vh;
}

#explainContent {
    position: relative;
    top: 1vh;
    right: 2vw;
    margin: 1vh;
    line-height: 1.3;
    height: 68vh;
    width: 83vw;
}

#backBtnContent {
    width: 10vw;
    height: 6vh;
    position: absolute;
    bottom: 1vh;
    right: 5vw;
    z-index: 2;
}

#nextBtnContent {
    width: 10vw;
    height: 6vh;
    position: absolute;
    bottom: 1vh;
    left: 5vw;
    z-index: 2;
}

#finishBtnContent {
    width: 8vw;
    height: 5vh;
    position: absolute;
    bottom: 1vh;
    left: 5vw;
    z-index: 2;
}
